ACCESS_TOKEN_SECRET=your_api_key_here
WHEREBY_API_KEY=your_api_key_here
YOUR_MAILTRAP_USERNAME=your_api_key_here
YOUR_MAILTRAP_PASSWORD=your_api_key_here
EXCHANGE_API_KEY=your_api_key_here
OPENAI_API_KEY=your_api_key_here